<ng-template #loading>
  <div class="alert alert-info text-center">
    Espere por favor
  </div>
</ng-template>

<div *ngIf="country; else loading ">

  <div class="row">
    <h2>Pais: <strong> {{ country.name.common }} </strong></h2>
  </div>

  <div class="row">
    <div class="col-4">
      <h4>Bandera</h4>
      <img [src]="country.flags.svg" [alt]="country.name.common" class="img-thumbnail">
    </div>
    <div class="col">
      <h3>Informacion</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Poblacion:</strong> {{ country.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Codigo:</strong> {{ country.cca2 }}
        </li>
        <li class="list-group-item">
          <strong>Ubicacion: </strong>  <a [href]="country.maps.googleMaps" target="_blank">{{ country.capital }}</a>
        </li>
        <li class="list-group-item">
          <strong>Fuerzas Armadas: </strong>  <img [src]="country.coatOfArms.svg" [alt]="country.name.common" width="80" class="img-thumbnail">
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <h3>Traducciones</h3>
      <div class="d-flex flex-wrap">
        <span class="badge bg-primary m-1">{{ country.translations['ara'].official }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['bre'].official }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['ces'].official }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['cym'].official }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['ita'].official }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['jpn'].official }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['per'].official }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['por'].official }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['rus'].official }}</span>
        <span class="badge bg-primary m-1">{{ country.translations['kor'].official }}</span>
      </div>
    </div>
  </div>
</div>
