<h2>Por Region</h2>
<hr>
<div class="row">
  <div class="col text-center">
    <button
      *ngFor="let region of region; "
      [ngClass]="{ 'btn-outline-info': selectedRegion === region }"
      class="btn  m-1"
      (click)="searchByRegion(region)"
    >
      {{region}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>

    <shared-loading-spinner
      *ngIf="isLoading"
      title="Buscando Capital"
    ></shared-loading-spinner>

    <countries-table [countries]="countries" ></countries-table>

  </div>
</div>
